* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    #84b873,
    #749ec3,
    #9bcd8b,
    #83aacd
  );
}
div {
  margin: 35px auto;
  text-transform: capitalize;
  word-spacing: 2px;
}
.portfolio {
  margin: 15px auto;
  padding: 15px 60px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: capitalize;
  background-image: linear-gradient(
    to right,
    #705c97,
    #44827a,
    #495c7d,
    #487a54
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.intro {
  font-size: 20px;
}
img {
  vertical-align: middle;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
a {
  background-color: rgb(54, 7, 121);
  color: white;
  padding: 5px 10px;
  display: inline-block;
  margin: 15px 90px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
a:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
